In [37]:
import sqlite3
db = sqlite3.connect("dep.db")
crsr = db.cursor()
# create another table: 
crsr.execute("CREATE TABLE if not exists Student(student_id integer, name text , phone integer)")
db.commit()

#print(crsr.execute("select * from Student;"))

In [36]:
crsr.execute("insert into Student(student_id , name , phone) values (1 , bavly , 01010101012)")
crsr.execute("insert into Student(student_id , name , phone) values (2 , ramy , 01010101013)")
crsr.execute("insert into Student(student_id , name , phone) values (3 , mahmoud , 01010105012)")
crsr.execute("insert into Student(student_id , name , phone) values (4 , amr , 01010101016)")
crsr.execute("insert into Student(student_id , name , phone) values (5 , omar , 01010101092)")
crsr.execute("insert into Student(student_id , name , phone) values (6 , sama , 01010101412)")
crsr.execute("insert into Student(student_id , name , phone) values (7 , mohamed , 01010201012)")
crsr.execute("insert into Student(student_id , name , phone) values (8 , mostafa , 01019101012)")
crsr.execute("insert into Student(student_id , name , phone) values (9 , amir , 01010801012)")
crsr.execute("insert into Student(student_id , name , phone) values (10 , malak , 01020101012)")
crsr.execute("insert into Student(student_id , name , phone) values (11 , heba , 01017101012)")
crsr.execute("insert into Student(student_id , name , phone) values (12 , amjad , 01000101012)")
crsr.execute("insert into Student(student_id , name , phone) values (13 , amar , 01011101012)")
crsr.execute("insert into Student(student_id , name , phone) values (14 , john , 01019101012)")
crsr.execute("insert into Student(student_id , name , phone) values (15 , younes , 01310101012)")
crsr.execute("insert into Student(student_id , name , phone) values (16 , ali , 01010601012)")
crsr.execute("insert into Student(student_id , name , phone) values (17 , alaa , 01017101012)")
crsr.execute("insert into Student(student_id , name , phone) values (18 , nady , 01014101012)")
crsr.execute("insert into Student(student_id , name , phone) values (19 , nader , 01020101012)")
crsr.execute("insert into Student(student_id , name , phone) values (20 , wagieh , 01810101012)")
crsr.execute("insert into Student(student_id , name , phone) values (21 , bassem , 01510101012)")
crsr.execute("insert into Student(student_id , name , phone) values (22 , saber , 01060101012)")
crsr.execute("insert into Student(student_id , name , phone) values (23 , yousry , 01410101012)")
crsr.execute("insert into Student(student_id, name , phone) values (24 , heba , 01010101012)")
crsr.execute("insert into Student(student_id, name , phone) values (25 , maged , 01012101012)")
db.commit()

<sqlite3.Cursor object at 0x000002157A559740>