# Question & Answers based on the Employee Database

## Basics Queries

#### Query 1

List all employees' names and their hire dates:

##### Answer

In [ ]:
SELECT first_name,last_name,hire_date
FROM employees;

#### Query 2

Find the highest salary in the database

##### Answer

In [ ]:
SELECT MAX(salary) , emp_no
FROM salaries;

#### Query 3

List all employees who were hired in the year 2000:

Note that: to get the year in sqlite we use: strftime('%Y', date_column)

##### Answer

In [ ]:
SELECT first_name,last_name,hire_date FROM employees
WHERE strftime('%Y', hire_date) = '2000';

in SQLite we can extract the year as follow:

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '2000';

#### Query 4

Find the average salary for all employees:

##### Answer

In [ ]:
SELECT COUNT(*) , AVG(salary)
FROM salaries;

#### Query 5

List all departments and the number of employees in each

- as a hint run the following query

In [ ]:
SELECT d.dept_name , d.dept_no, e.emp_no 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no

##### Answer

In [ ]:
SELECT d.dept_name , d.dept_no, COUNT(e.emp_no) 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP BY d.dept_name;

#### Query 6

List all employees whose first name starts with 'A'

##### Answer

In [ ]:
SELECT first_name,last_name
FROM employees
WHERE first_name LIKE "A%";

#### Query 7

Find the number of employees in the 'Sales' department

##### Answer

In [ ]:
SELECT d.dept_name , d.dept_no,COUNT(e.emp_no) 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no AND d.dept_name = 'Sales'
GROUP BY d.dept_name;

#### Query 8

List all employees who were hired in the year 1995

##### Answer

In [ ]:
SELECT first_name,last_name,hire_date FROM employees
WHERE strftime('%Y', hire_date) = '1995';

to get the count of them

In [ ]:
SELECT count(*) FROM employees
WHERE strftime('%Y', hire_date) = '1995';

#### Query 9

Find the average salary of all employees

##### Answer

In [ ]:
SELECT AVG(salary)
FROM salaries;

#### Query 10

List the top 5 highest-paid employees

- as hint you can use **LIMIT** funtion to print only the number after it.

##### Answer

In [ ]:
SELECT salary
FROM salaries
ORDER BY salary DESC
LIMIT 5;

#### Query 11

List all employees and their department names.

##### Answer

#### Query 12

Find the number of employees in each department

##### Answer

#### Query 13

List all employees who have never had a salary increase

##### Answer

#### Query 14

Find the highest salary for each department.

##### Answer

#### Query 15

List all employees who have had more than one manager

##### Answer

## Intermediate Queries

#### Query 1

List all employees who have been with the company for more than 15 years:

- hint 

DATEDIFF(CURDATE(), hire_date)  = > JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

in SQLite

#### Query 2

Find the highest salary paid to an employee in the 'Sales' department:

##### Answer

#### Query 3

List all employees who have had more than 2 different titles:

##### Answer

#### Query 4

Find the average salary for female employees in the 'Engineering' department:

##### Answer

#### Query 5

List all employees who have never had a salary increase:

##### Answer

#### Query 6

Find the average salary for female employees in the 'Sales' department.

##### Answer

#### Query 7

List all employees who have been with the company for more than 10 years

- hint: JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

#### Query 8

Find the employee who has had the most job titles

##### Answer

#### Query 9

List all employees who have worked in more than one department

##### Answer

#### Query 10

Find the department with the highest average salary

##### Answer

#### Query 11

List all employees who have had a salary increase of more than 10%

##### Answer

## Advanced queries

#### Query 1

Find the top 10 highest-paid employees in the company

##### Answer

#### Query 2

List all employees who have had more than one manager:

##### Answer

#### Query 3

List all departments and the average salary of their employees

##### Answer