# Question & Answers based on the Employee Database

## Basics Queries

#### Query 1

List all employees' names and their hire dates:

##### Answer

In [ ]:
SELECT first_name,last_name,hire_date
FROM employees;

#### Query 2

Find the highest salary in the database

##### Answer

In [ ]:
SELECT MAX(salary) , emp_no
FROM salaries;

#### Query 3

List all employees who were hired in the year 2000:

Note that: to get the year in sqlite we use: strftime('%Y', date_column)

##### Answer

In [ ]:
SELECT first_name,last_name,hire_date FROM employees
WHERE strftime('%Y', hire_date) = '2000';

in SQLite we can extract the year as follow:

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '2000';

#### Query 4

Find the average salary for all employees:

##### Answer

In [ ]:
SELECT COUNT(*) , AVG(salary)
FROM salaries;

#### Query 5

List all departments and the number of employees in each

- as a hint run the following query

In [ ]:
SELECT d.dept_name , d.dept_no, e.emp_no 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no

##### Answer

In [ ]:
SELECT d.dept_name , d.dept_no, COUNT(e.emp_no) 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP BY d.dept_name;

#### Query 6

List all employees whose first name starts with 'A'

##### Answer

In [ ]:
SELECT first_name,last_name
FROM employees
WHERE first_name LIKE "A%";

#### Query 7

Find the number of employees in the 'Sales' department

##### Answer

In [ ]:
SELECT d.dept_name , d.dept_no,COUNT(e.emp_no) 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no AND d.dept_name = 'Sales'
GROUP BY d.dept_name;

#### Query 8

List all employees who were hired in the year 1995

##### Answer

In [ ]:
SELECT first_name,last_name,hire_date FROM employees
WHERE strftime('%Y', hire_date) = '1995';

to get the count of them

In [ ]:
SELECT count(*) FROM employees
WHERE strftime('%Y', hire_date) = '1995';

#### Query 9

Find the average salary of all employees

##### Answer

In [ ]:
SELECT AVG(salary)
FROM salaries;

#### Query 10

List the top 5 highest-paid employees

- as hint you can use **LIMIT** funtion to print only the number after it.

##### Answer

In [ ]:
SELECT salary
FROM salaries
ORDER BY salary DESC
LIMIT 5;

#### Query 11

List all employees and their department names.

UpSolve

In [ ]:
select e.first_name,e.last_name,d.dept_name
from employees e
join dept_emp de on e.emp_no=de.emp_no
join departments d on d.dept_no = de.dept_no;

#### Query 12

Find the number of employees in each department

##### Answer

In [ ]:
select d.* , count(e.emp_no)
from departments d
join dept_emp e on d.dept_no = e.dept_no
group by d.dept_name;

#### Query 13

List all employees who have never had a salary increase

##### Answer

UpSolve

In [ ]:
SELECT e.first_name, e.last_name
FROM employees e
WHERE NOT EXISTS (
    SELECT 1
    FROM salaries s
    WHERE s.emp_no = e.emp_no
    AND s.salary > (
        SELECT MIN(salary) 
        FROM salaries 
        WHERE emp_no = e.emp_no)
);

#### Query 14

Find the highest salary for each department.

##### Answer

In [ ]:
select d.dept_name , max(s.salary)
from departments d 
join dept_emp de on de.dept_no = d.dept_no
join salaries s on de.emp_no = s.emp_no
GROUP by d.dept_name;

#### Query 15

List all employees who have had more than one manager

##### Answer

In [ ]:
select e.first_name , e.last_name , count(dm.emp_no) as mx_manager
from employees e 
join dept_emp de on e.emp_no=de.emp_no 
join dept_manager dm on dm.dept_no = de.dept_no
group by e.first_name , e.last_name , e.emp_no
having mx_manager > 1;

## Intermediate Queries

#### Query 1

List all employees who have been with the company for more than 15 years:

- hint 

DATEDIFF(CURDATE(), hire_date)  = > JULIANDAY(date('now')) - JULIANDAY(hire_date) 

DATEDIFF(CURDATE(), hire_date) > 15*365.25 --> MySQL

JULIANDAY(date('now')) - JULIANDAY(hire_date) / 365.25 > 15 --> SQLlite

##### Answer

In [ ]:
select *
from employees 
where DATEDIFF(CURDATE(), hire_date) > 15*365.25 ;

in SQLite

In [ ]:
select *
from employees 
where JULIANDAY(date('now')) - JULIANDAY(hire_date) / 365.25 > 15 ;

#### Query 2

Find the highest salary paid to an employee in the 'Sales' department:

##### Answer

In [ ]:
select max(salary)
from salaries s
join dept_emp de on de.emp_no = s.emp_no
join departments d on de.dept_no = d.dept_no
group by d.dept_name 
having d.dept_name = 'Sales';

#### Query 3

List all employees who have had more than 2 different titles:

##### Answer

In [ ]:
select *
from employees e
where 2 < (select count(emp_no)
		   from titles t
		   where e.emp_no = t.emp_no
);

#### Query 4

Find the average salary for female employees in the 'Engineering' department:

##### Answer

In [ ]:
SELECT AVG(s.salary) AS avg_salary
FROM salaries s
JOIN employees e 
JOIN dept_emp de ON s.emp_no = de.emp_no AND s.emp_no = e.emp_no
JOIN departments d ON de.dept_no = d.dept_no
GROUP BY d.dept_name
HAVING e.gender = 'F' AND d.dept_name = 'Engingeering';

#### Query 5

List all employees who have never had a salary increase:

##### Answer

In [ ]:
SELECT e.first_name, e.last_name
FROM employees e
WHERE NOT EXISTS (
    SELECT 1
    FROM salaries s
    WHERE s.emp_no = e.emp_no
    AND s.salary > (
        SELECT MIN(salary) 
        FROM salaries 
        WHERE emp_no = e.emp_no)
);

#### Query 6

Find the average salary for female employees in the 'Sales' department.

##### Answer

In [ ]:
SELECT AVG(s.salary) AS avg_salary
FROM salaries s
JOIN employees e 
JOIN dept_emp de ON s.employee_no = de.emp_no AND s.employee_no = e.emp_no
JOIN departments d ON de.dept_no = d.dept_no
GROUP BY d.dept_name
HAVING e.gender = 'F' AND d.dept_name = 'Sales';

#### Query 7

List all employees who have been with the company for more than 10 years

- hint: JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

In [ ]:
select *
from employees 
where JULIANDAY(date('now')) - JULIANDAY(hire_date) / 365.25 > 10 ;

In [ ]:
select *
from employees 
where DATEDIFF(CURDATE(), hire_date) > 10*365.25 ;

#### Query 8

Find the employee who has had the most job titles

##### Answer

In [ ]:
select e.first_name , e.last_name 
from

#### Query 9

List all employees who have worked in more than one department

##### Answer

In [ ]:
select e.first_name , e.last_name , count(de.dept_no) num_dept
from employees e 
join dept_emp de on e.emp_no = de.emp_no
GROUP by e.first_name , e.last_name , e.emp_no
HAVING num_dept > 1;

#### Query 10

Find the department with the highest average salary

UpSolve

##### Answer

In [ ]:
select d.dept_name , AVG(s.salary) as avg_salary
from departments d 
join salaries s on s.emp_no = de.emp_no
join dept_emp de on d.dept_no = de.dept_no 
GROUP by d.dept_name
ORDER by avg_salary DESC
LIMIT 1;

#### Query 11

List all employees who have had a salary increase of more than 10%

##### Answer

In [ ]:
SELECT e.first_name, e.last_name
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
WHERE s.salary - (
    SELECT MAX(s2.salary)
    FROM salaries s2
    WHERE s2.emp_no = s.emp_no AND s2.salary < s.salary
) > (s.salary * 0.1);

## Advanced queries

#### Query 1

Find the top 10 highest-paid employees in the company

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, MAX(s.salary) AS highest_salary
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
GROUP BY e.emp_no, e.first_name, e.last_name
ORDER BY highest_salary DESC
LIMIT 10;

#### Query 2

List all employees who have had more than one manager:

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, COUNT(DISTINCT m.emp_no) AS num_managers
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
JOIN dept_manager m ON de.dept_no = m.dept_no AND de.from_date BETWEEN m.from_date AND m.to_date
GROUP BY e.emp_no, e.first_name, e.last_name
HAVING num_managers > 1;

#### Query 3

List all departments and the average salary of their employees

##### Answer

In [ ]:
select d.dept_name, AVG(s.salary) AS avg_salary
from departments d
join dept_emp de ON d.dept_no = de.dept_no
join salaries s ON de.emp_no = s.emp_no
GROUP BY d.dept_name;